html, body {
    height: 100%;
}

.content {
    display: flex;
    min-height: 100%;
}

.logo {
    margin: auto;
    text-align: center;

    &__header,
    &__desc {
        text-transform: uppercase;
    }
}