//- Created by vsavitskiy on 26.03.17.

extends layouts/template

include mixins/svg

block content
    .logo
        h1.logo__header Webpack2
        +svg('webpack', 'logo__img', 150, 100)
        p.logo__desc boilerplate